<section class="detail-block">
    <div class="container-fluid" >
        <h2 class="coordonnates">Coordonnées</h2>
        <div class="row blockCoordonnate" >
            <div class="col-lg-6 offset-lg-1 mapContour">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2672.9946047892004!2d1.8728976152127994!3d47.93648807312474!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e4fa8df7423c05%3A0xda3d1bc9b83c69b5!2s195%20Rue%20des%20Chimoutons%2C%2045770%20Saran!5e0!3m2!1sfr!2sfr!4v1571955942935!5m2!1sfr!2sfr" width="100%" height="100%" style="border:0;" allowfullscreen=""></iframe>
            </div>
            <div class="col-lg-3 offset-lg-1 adressContour">
                <div class="card border shadowCard-1">
                  <div class="bloc_adress">
                    <div class="card-header who">Adresse</div>
                    <p class="pCoordonnate">195, rue des Chimoutons</p>
                    <p class="pCoordonnate">45770  Saran</p>
                    <div class="card-header who">Horaires</div>
                    <p class="pCoordonnate">mardi au samedi</p>
                    <p class="pCoordonnate">9h00 à 19h00</p>
                    <p class="pCoordonnate">fermé</p>
                    <p class="pCoordonnate">dimanche et lundi</p>
                    <div class="card-header who">Téléphone</div>
                    <p class="pCoordonnate">02 38 74 09 80</p>
                    <p class="pCoordonnate">nbcat@orange.fr</p>
                  </div>
                </div>
            </div>

        </div>
    </div>
</section>
