<section class="detail-block">
    <div class="container-fluid" >
        <h2 class="coordonnates">Coordonnées</h2>
        <div class="row blockCoordonnate" >
            <div class="col-lg-6 mapContour">
                <iframe  class="map" src="https://www.openstreetmap.org/export/embed.html?bbox=1.8607449531555178%2C47.93260468073703%2C1.8822026252746584%2C47.941977460578975&amp;layer=mapnik&amp;marker=47.93729128304649%2C1.871473789215088" ></iframe>
            </div>
            <div class="col-lg-3 adressContour">
                <div class="card border shadowCard-1">
                  <address class="bloc_adress">
                    <div class="card-header who">Adresse</div>
                    <p class="heightParagraph" >195, rue des Chimoutons</p>
                    <p class="">45770  Saran</p>
                    <div class="card-header who">Horaires</div>
                    <p class="heightParagraph">mardi au samedi</p>
                    <p class="">9h00 à 19h00</p>
                    <p class="">fermé</p>
                    <p class="">dimanche et lundi</p>
                    <div class="card-header who">Téléphone</div>
                    <p class="heightParagraph">02 38 74 09 80</p>
                    <p class="">nbcat@orange.fr</p>
                  </address>
                </div>
            </div>
        </div>
    </div>
</section>