<footer>
    <div class="container-fluid" >
        <div class="row">
        <div class="row  footer">
            <div class="col-lg-2 footerPart">
                <a href="">Partenaires</a>
            </div>
            <div class="col-lg-2 offset-lg-1 footerPart">
                <a href="">Mention Légale</a>
            </div>
            <div class="col-lg-2 offset-lg-1 footerPart">
                <a href="http://www.cantzu.fr/" >Cantsu</a>
            </div>
            <div class="col-lg-2 offset-lg-1 footerPart">
                <a href="http://www.nbcat.fr/">Nbcat</a>
            </div>
        </div>
    </div>
</footer>