<footer class="container-fluid">
    <div class="row footer pt-4">
        <div class="col-lg-3 footerLogoBox d-md-block d-none">
            <div class="footerTitle">Toilettage Séduction</div>
            <div class="footerLogo"></div>
            <div class="footerTitle">Réseaux sociaux</div>
            <div class="facebookLogo">
                <a href="https://www.facebook.com/people/Nad%C3%A8ge-Baillargeaux/100003554203322"
                   class="fa fa-facebook" target="_blank"> <img src="/assets/images/fb-logo-white.png"></a>
            </div>
        </div>
        <div class="col-lg-3">
            <ul class="footerList">
                <li class="footerTitle">A propos</li>
                <li><a class="link-visited" href="#presentationSection">Qui suis-je?</a></li>
                <li><a class="link-visited" href="/Mention/index">Mentions Légales</a></li>
                <li><a class="link-visited" href="/question/index">FAQ</a></li>
                <li class="footerTitle">Contact</li>
                <li><a class="link-visited" href="#contact">nbcat@orange.fr</a></li>
                <li>
                    <address>Mme Baillargeaux Nadège<br/>195 rue des chimoutons<br/>45770 Saran</address>
                </li>
                <li><a class="link-visited" href="tel:+33238740980">Fixe: 02 38 74 09 80</a></li>
                <li><a class="link-visited" href="tel:+33688295002">Mobile: 06 88 29 50 02 </a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="footerList">
                <a class="link-visited" href="/partner/index">
                    <li class="footerTitle">Partenaires</li>
                </a>
                <li><a class="link-visited" href="https://delabrissotiere.chiens-de-france.com/caniche.html" target="_blank">Delabrissotiere</a>
                </li>
                <li><a class="link-visited" href="https://ptites-obsessions.chiens-de-france.com/petit-chien-lion.html" target="_blank">Ptites
                        obsessions</a>
                </li>
                <li><a class="link-visited" href="http://chatterie.arctic.pagesperso-orange.fr" target="_blank">Chatterie de l'Artic</a>
                </li>
                <li><a class="link-visited" href="http://nhakyrielle.free.fr/fpresentation.htm" target="_blank">Siamois et Orientaux</a>
                </li>
                <li><a class="link-visited" href="http://www.persans-mapadi.com" target="_blank">Mapadi</a></li>
                <li class="footerTitle">Sites amis</li>
                <li><a class="link-visited" href="http://www.cantzu.fr/" target="_blank">Cantsu</a></li>
                <li><a class="link-visited" href="http://www.nbcat.fr/" target="_blank">Nbcat</a></li>
                <li><a class="link-visited" href="http://www.cedia.fr/" target="_blank">La cynophilie en France</a></li>
                <li><a class="link-visited" href="https://loof.asso.fr/actus/actus_loof.php" target="_blank">LOOF</a></li>
                <li><a class="link-visited" href="https://www.centrale-canine.fr/" target="_blank">Centrale Canine</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="footerList">
                <li class="footerTitle">Blogs</li>
                <li><a class="link-visited" href="http://nbcatpersan.centerblog.net/" target="_blank">Centerblog</a></li>
                <li><a class="link-visited" href="https://mapassionmespersans.blog4ever.com/" target="_blank">Les persans de
                        Charlotte</a></li>
                <li><a class="link-visited" href="https://persandesvres.blog4ever.com" target="_blank">Chatterie de Narcisse</a></li>
                <li class="footerTitle">Forum</li>
                <li><a class="link-visited" href="https://passionchatpersan.forumperso.com/" target="_blank">Passion chats</a></li>
            </ul>
        </div>
    </div>
</footer>

