<footer class="container-fluid">
    <div class="row footer pt-4">
        <div class="col-lg-3 footerLogoBox d-md-block d-none">
            <div class="footerTitle">Toilettage Séduction</div>
            <div class="footerLogo"></div>
            <div class="footerTitle">Réseaux sociaux</div>
            <div class="facebookLogo">
                <a href="https://www.facebook.com/people/Nad%C3%A8ge-Baillargeaux/100003554203322"
                   class="fa fa-facebook"> <img src="/assets/images/fb-logo-white.png"></a>
            </div>
        </div>
        <div class="col-lg-3">
            <ul class="footerList">
                <li class="footerTitle">A propos</li>
                <li><a href="#who">Qui suis-je?</a></li>
                <li><a href="/Mention/index">Mentions Légales</a></li>
                <li><a href="/question/index">FAQ</a></li>
                <li class="footerTitle">Contact</li>
                <li><a href="#contact">nbcat@orange.fr</a></li>
                <li>
                    <address>Mme Baillargeaux Nadège<br/>195 rue des chimoutons<br/>45770 Saran</address>
                </li>
                <li><a href="tel:+33238740980">Fixe: 02 38 74 09 80</a></li>
                <li><a href="tel:+33688295002">Mobile: 06 88 29 50 02 </a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="footerList">
                <a href="/partner/index"><li class="footerTitle">Partenaires</li></a>
                <li><a href="https://delabrissotiere.chiens-de-france.com/caniche.html">Delabrissotiere</a></li>
                <li><a href="https://ptites-obsessions.chiens-de-france.com/petit-chien-lion.html">Ptites obsessions</a>
                </li>
                <li><a href="http://chatterie.arctic.pagesperso-orange.fr">Chatterie de l'Artic</a></li>
                <li><a href="http://nhakyrielle.free.fr/fpresentation.htm">Siamois et Orientaux</a></li>
                <li><a href="http://www.persans-mapadi.com">Mapadi</a></li>
                <li class="footerTitle">Sites amis</li>
                <li><a href="http://www.cantzu.fr/">Cantsu</a></li>
                <li><a href="http://www.nbcat.fr/">Nbcat</a></li>
                <li><a href="http://www.cedia.fr/">La cynophilie en France</a></li>
                <li><a href="https://loof.asso.fr/actus/actus_loof.php">LOOF</a></li>
                <li><a href="https://www.centrale-canine.fr/">Centrale Canine</a></li>
            </ul>
        </div>
        <div class="col-lg-3">
            <ul class="footerList">
                <li class="footerTitle">Blogs</li>
                <li><a href="http://nbcatpersan.centerblog.net/">Centerblog</a></li>
                <li><a href="https://mapassionmespersans.blog4ever.com/">Les persans de Charlotte</a></li>
                <li><a href="https://persandesvres.blog4ever.com">Chatterie de Narcisse</a></li>
                <li class="footerTitle">Forum</li>
                <li><a href="https://passionchatpersan.forumperso.com/">Passion chats</a></li>
            </ul>
        </div>
    </div>
</footer>

