<footer>
    <div class="container-fluid" >
        <div class="row justify-content-evenly footer">
            <div class="col-lg-2 footerPart">
                <div><p><a href="">Mention Légale</a></p></div>
            </div>
            <div class="col-lg-2 offset-lg-1 footerPart">
                <div><p><a href="">Partenaires</a></p></div>
            </div>
            <div class="col-lg-2 offset-lg-1 footerPart">
                <div><p><a href="http://www.cantzu.fr/" >Cantsu</a></p></div>
            </div>
            <div class="col-lg-2 offset-lg-1 footerPart">
                <div><p><a href="http://www.nbcat.fr/">Nbcat</a></p></div>
            </div>
            <div class="col-lg-4 footerPart"><p>copyright  © 30 octobre 2019</p></div>
        </div>
    </div>
</footer>
