
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <img class="dogLogo" src="/assets/images/petLogo.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse offset-1" id="navbarNavDropdown">
            <ul class="navbar-nav">
                <li class="nav-item ">
                    <a class="nav-link" href="#">Le Salon <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Prestation
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <a class="dropdown-item" href="/service/index">Services</a>
                        <a class="dropdown-item" href="#">Tarifs </a>
                    </div>
                </li>
                <li class="nav-item  dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Conseil
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                    </div>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="#">F.A.Q.</a>
                </li>
                <li class="navContact nav-item " id="navbarNavContact">
                    <a class="nav-link" href="/home/index#plan-acces">Contact et plan d'accès</a>
                </li>
            </ul>
        </div>
    </nav>
