<section class="homePresentation" id="presentationSection">
    <div class="container-fluid">
        <div class="row justify-content-around">
            <div class="col-lg-3 offset-lg-1">
                <div class="card border shadowCard-1">
                    <div class="card-header who">Qui suis-je ?</div>
                    <div class="card-body text-secondary">
                        <img src="/assets/images/nadege.jpg" alt="photo de Nadège Baillardeux"
                             class="img-thumbnail nadege">
                        <p class="card-text text-justify paddingCard">Je m'appelle Nadège et je suis une passionnée de
                            chiens et chats. J'élève également des caniches cordés que je m'emmène à des concours.</p>
                        <p class="text-justify">Je toilette depuis 1995 ! Avec toujours autant de motivation et une
                            priorité : le respect des
                            animaux. C'est pourquoi, j'utilisee n'utilise ni cage séchante, ni muselière.
                            La patience et la fermeté douce sont mes atouts pour permettre à votre chien ou à votre chat
                            d'aborder le
                            toilettage.</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-1 mt-6">
                <div class="titlePresentation">
                    <h2>La qualité Toilettage Séduction</h2>
                </div>
                <p class="text-justify">J'utilise nombreux shampoings différents, des lames de coupe, des trimmers, des
                    séchoirs et des ciseaux spécifiques permettent un toilettage personnalisé pour chaque chien ou chat.
                    Chaque animal, tout comme mes propres chiens, a son propre shampoing (par exemple, les chiens à peau
                    fragile sont lavés au souffre). </p>

                <p class="text-justify">Le salon est équipé d'un stérilisateur pour désinfecter le petit matériel ; mes
                    serviettes sont en coton pour pouvoir être bouillies et désinfectées pour plus d'hygiène.</p>

                <p class="text-justify">Une serviette n'est pas utilisée pour plusieurs chiens. Chaque chien a sa propre
                    serviette qui est immédiatement mise au lavage après son passage. Règulièrement, le salon est passé
                    aux foggers désinfectants, et j'utilise quotidiennement les mêmes bombes assainissantes et
                    désinfectantes que l'on utilise dans les milieux hospitaliers.</p>
                <div class=discover>
                    <a href="/salon/index">
                      <button type="button" class="btn btn-primary btn-lg">Découvrir mon salon</button>
                    </a>
                </div>
            </div>
            <div class="col-lg-1"></div>
        </div>
    </div>
</section>
