{% extends 'layout.html.twig' %}

 {% block stylesheet %}
     <link rel="stylesheet" href="/assets/css/style_mention.css">
 {% endblock %}

{% block content %}
    <section class="mentionBack">
        <div class="container-fluid">
            <div class="row">
                <div class="col offset-1">
                    <div class="mentionPara">
                        <h2>Mentions Légales</h2>
                        <div class="blockMention">
                            <h4>Conception</h4>
                            <p>Ce site a été conçu et réalisé par Nbcat</p>
                            <p>Nom du Site : http://www.nbcat.fr</p>
                            <p>Directeur de la publication : Nadège Baillargeaux</p>
                            <p>Email : nbcat@orange.fr</p>
                            <p>Tél. : 02 38 74 09 80</p>
                            <p>Raison sociale : Toilettage Séduction</p>
                            <p>N° SIRET : 402 630 669 00016</p>
                        </div>
                        <div class="blockMention">
                            <h4>Hébergement</h4>
                            <p>OVH</p>
                            <p>SAS au capital de 10 000 000 €</p>
                            <p>RCS Roubaix – Tourcoing 424 761 419 00045</p>
                            <p>Code APE 6202A</p>
                            <p>N° TVA : FR 22 424 761 419</p>
                            <p>Siège social : 2 rue Kellermann - 59100 Roubaix - France.</p>
                        </div>
                        <div class="blockMention">
                            <p>Le présent site est la propriété de Toilettage Séduction, établissement situé au 195 rue
                                des
                                Chimoutons 45770 SARAN</p>
                            <p>L'ensemble de ce site relève des législations française et internationale sur le droit
                                d'auteur et la propriété intellectuelle. Tous les droits de reproduction sont réservés,
                                y
                                compris pour les documents iconographiques et photographiques.</p>
                            <p>Les présentations graphiques sont des créations personnelles ou bien réalisées à partir
                                de
                                tutoriaux de Chez Violine Graphisme et de tutoriaux de sites de graphisme que vous
                                retrouverez dans ma page de liens . Elles sont toutes crées à partir de photos de mes
                                petits
                                clients à 4 pattes. Elles sont offertes gracieusement à leurs propriétaires par mail ou
                                support photo.
                                Le site est codé et designé par mes soins : les galeries photos sont des adaptations des
                                scripts de ARaynorDesign.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
{% endblock %}