{% extends 'layout.html.twig' %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style_pricelist.css">
{% endblock %}

{% block content %}
    <section class="advicePage">
        <div class="titlePresentation">
            <h1>Conseils</h1>
        </div>
    {% include 'Advice/_side_menu.html.twig' %}
    <div id="prices" class="rightBox col-md-7 offset-md-1">
        <div class="titlePrices card">
            <hr class="line">
            <h3 class="titleRightBox">{{ race.name }}</h3>
            <hr class="line">
        </div>
        <div>
            <p class="text-justify">{{ race.description }}</p>
        </div>

        <div class="container-fluid col-lg-9">
            <div class=" my-5 border-0">
                <div class="card border shadowCard-1">
                    <img src="/uploads/{{ race.image }}" class="img-fluid" alt="photo chien">
                </div>
            </div>
            <div class=discover>
                <a href="/pricelist/index">
                    <button type="button" class="btn btn-primary btn-lg">Voir les tarifs</button>
                </a>
            </div>
        </div>
    </div>
    </div>
    </div>
    </section>
{% endblock %}
