<div class="container-fluid form-admin">
    <h1 class="">Ajouter une nouvelle catégorie</h1>
    <form method="post" action="" enctype="multipart/form-data">

        <div class="row">

            <div class="form-group">
                <label for="category">Nom de la catégorie :</label>
                <input type="text" id="category" class="form-control" name="category">
                {% if errors.category is defined %}
                    {{ errors.category }}
                {% endif %}
            </div>
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-1">
                        <input type="submit" value="Valider" class="btn btn-primary">
                    </div>
                </div>
            </div>
        </div>

    </form>
</div>