{% extends 'layout.html.twig' %}


{% block title %}Toilettage Seduction{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style_partner.css">
{% endblock %}

{% block content %}
    <!--Partner-->
    <div class="container-fluid">

        <div class="row titlePartner">
            <div><h1 class="">Partenaires</h1></div>
        </div>

        <div class="row linkPartner">
            <div class="col-lg-3">
                <a href="https://delabrissotiere.chiens-de-france.com/caniche,de-la-brissotiere,liens,8833.html">
                    <img class="imgPartner" src="/assets/images/DeLaBrissotiere.png" alt="picture Logo partner"
                         title="picture Logo partner">
                </a>
            </div>
            <div class="col-lg-3 cardPartner">
                <h4>DE LA BRISSOTIERE</h4>
                <address>
                    Mme Artaut - Garcia Myriam<br/>
                    La brissotiere<br/>
                    22 rue madeleine<br/>
                    33730 Villandraut<br/>
                </address>
                Téléphone: 05 56 25 32 33<br/>
                Portable: 07 85 81 39 91
            </div>
            <div class="col-lg-3">
                <a href="https://p-tites-obsessions.chiens-de-france.com/petit-chien-lion.html">
                    <img class="imgPartner" src="/assets/images/DesPtitesObesssions.png" alt="picture Logo partner"
                         title="picture Logo partner">
                </a>
            </div>
            <div class="col-lg-3 cardPartner">
                <h4>Des P'tites Obsssessions</h4>
                <address>
                    Mr et Mlle Birembaut Hélène-marie<br/>
                    62860 Palluel<br/>
                </address>
                Téléphone: 03 21 71 87 70<br/>
                Portable: 06 70 63 16 02
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a href="http://www.cantzu.fr/index.html">
                    <img class="imgPartner" src="/assets/images/CybeleDesCanTzu.jpg" alt="picture Logo partner"
                         title="picture Logo partner">
                </a>
            </div>
            <div class="col-lg-3 cardPartner">
                <h4>Cybèle des Can'Tzu</h4>
                <address>
                    Mme Baillargeaux Nadège<br/>
                    195 rue des Chimoutons<br/>
                    45770 Saran<br/>
                </address>
                Téléphone: 02 38 73 80 66<br/>
                Portable: 06 88 29 50 02
            </div>
            <div class="col-lg-3">
                <a href="https://www.centrale-canine.fr/articles/nous-contacter">
                    <img class="imgPartner" src="/assets/images/CentraleCanine.jpg" alt="picture Logo partner"
                         title="picture Logo partner">
                </a>
            </div>
            <div class="col-lg-3 cardPartner">
                <h4>la Centrale Canine</h4>
                <address>Vous souhaitez contacter cliquez<br/>
                    sur les liens ci-dessous<br/>
                    Nous vous répondrons dans les plus<br/>
                    brefs délais.
                </address>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a href="http://nbcat.fr/liens/Delphie/index.html">
                    <img class="imgPartner" src="/assets/images/MaineCoon.jpg" alt="picture Logo partner"
                         title="picture Logo partner">
                </a>
            </div>
            <div class="col-lg-3 cardPartner">
                <h4>Les Main Coons de Bacdella</h4>
                <address>
                    Valérie DELION<br/>
                    Route d'Autry "La Lombarderie"<br/>
                    45500 SAINT-MARTIN-SUR-OCRE<br/>
                </address>
                Téléphone: 02 38 36 73 64<br/>
                Portable: 06 79 40 27 43
            </div>
            <div class="col-lg-3">
                <a href="http://www.alysepagerie.net">
                    <img class="imgPartner" src="/assets/images/abyssinSilver.png" alt="picture Logo partner"
                         title="picture Logo partner">
                </a>
            </div>
            <div class="col-lg-3 cardPartner">
                <h4>Abyssins Silver</h4>
                <address>
                    Alyse BRISSON<br/>
                    69310 Pierre-Bénite<br/>
                </address>
                Téléphone : 04 78 51 29 58 (le soir)<br/>
                Portable : 06 70 19 93 52<br/>
                email: alyby@wanadoo.fr
            </div>
        </div>

        <div class="row">
            <div class="col-lg-3">
                <a href="https://persandesvres.blog4ever.com">
                    <img class="imgPartner" src="/assets/images/EchoDeNarcisse.png" alt="picture Logo partner"
                         title="picture Logo partner">
                </a>
            </div>
            <div class="col-lg-3 cardPartner">
                <h4>Chatterie Echo de Narcisse</h4>
                <address>
                    Isabelle LOHR<br/>
                    Esvres pres de TOURS<br/>
                    Indre-et-Loire (37)<br/>
                </address>
                Téléphone: 02 47 26 45 48<br/>
                Portable: 06 18 49 33 18<br/>
                email: ilohr@wanadoo.fr
            </div>
            <div class="col-lg-3">
                <a href="http://nhakyrielle.free.fr/fpresentation.htm">
                    <img class="imgPartner" src="/assets/images/nhaKyrielle.png" alt="picture Logo partner"
                         title="picture Logo partner">
                </a>
            </div>
            <div class="col-lg-3 cardPartner">
                <h4>n'ha Kyrielle</h4>
                <address>
                    Mme Myriam Gullaud<br/>
                </address>
                Téléphone: 01 39 82 44 76<br/>
                Portable: 06 85 63 62 32<br/>
                e-mail : nhakyrielle@free.fr
            </div>
        </div>

    </div>

{% endblock %}

{% block javascripts %}
{% endblock %}
