.salon_resume{
    text-align:center;
    width: 70%;
    margin-left: 16%;
}

.salonPresentation {

    background: url('../images/wave.png') no-repeat center center fixed;
    background-size: cover;
}

.shadowCard-1 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
}

.row-center {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
}

.col-lg-3 {
    margin-bottom: 50px;
}

.card-body {
    padding: 0;
}

.text-justify {
    margin-top: 20px;
    margin-bottom: 80px;
}

.img-fluid {
    object-fit: cover;
    padding: 0;
    margin: auto;
}

.firstText, .secondaryText{
    display: flex;
    align-items: center;
}

.firstLine, .secondaryLine{
    margin-top: 5%;
}

.totalBox {
    width: 100%;
    height: 100%;
    margin-top: 4%;
    padding-bottom: 2%;
}

.row__inner {
    height : 370px;
    padding: 1.5%;
    display: flex;
    justify-content: space-around;
}

.tile {
    width: 20%;
    height: 50%;
    transition: 450ms all;
}

.tile__img {
    margin-top: 10%;
    width: 100%;
    object-fit: cover;
}

.row__inner:hover .tile {
    opacity: 0.3;
}

.row__inner:hover .tile:hover {
    opacity: 1;
    transform: scale(1.2);
}

