@import "style_master.css";

h2 {
    text-align: center;
    padding: 1em;
}

.servicePresentation {
    padding: 2% 0 2% 0;
    background: url('../images/wave.png') no-repeat center center fixed;
    background-size: cover;
}

.shadowCard-1 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.row-center {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 30px;
}

.col-lg-3 {
    margin-bottom: 50px;
}

.card-body {
    padding: 0;
}

.text-justify {
    margin-top: 20px;
    margin-bottom: 80px;
}

.img-fluid {
    object-fit: cover;
    padding: 0;
    margin: auto;
}


