@import "style_master.css";

.service_resume{
    text-align:center;
    width: 70%;
    margin-left: 16%;
    margin-bottom: 2%;
}

.servicePresentation {
    background: url('../images/wave.png') no-repeat center center fixed;
    background-size: cover;
}

.shadowCard-1 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.last-row {
    padding-bottom: 3%;
}

.row-center {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 4%;
    margin-top: 4%;
}

.card-body {
    padding: 0;
}

.paragrpah1 {
    margin-top: 20px;
    margin-bottom: 50px;
}

.text-justify {
    margin-top: 20px;
    margin-bottom: 80px;
}

.img-fluid {
    object-fit: cover;
    padding: 0;
    margin: auto;
}

.col-lg-6 {
    display: flex;
    align-items: center;
}

.discoverBis {
    padding-top: 2%;
    padding-bottom: 80px;
    display: flex;
    justify-content: center;
}
