@import "style_master.css";
@import "style.css";

.advicePage {
    padding: 2% 0 2% 0;
    background: url('../images/wave_advice.png') no-repeat center center fixed;
    background-size: cover;
}


