@import "style_master.css";

.collapse, .collapsing {
    font-size: 1.5rem;
}

.titleRightBox {
    text-align: center;
    width: 100%;
    margin-right: 1%;
    margin-left: 1%;
    font-family: var(--titleFont);
}

.titlePrices, .titlePhoto {
    padding: 10px;
}

.firstParagraph {
    margin: 0;
}

.boxes {
    padding-right: 0;
}

.paragraphInfo {
    font-family: var(--paragraphFont);
    color: var(--paragraphColor);
    text-align: justify;
    margin-top: 2%;
    margin-bottom: 4%;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--raceMenuColor);
}

a:hover {
    text-decoration: none;
    color: var(--mainColor);
}


.headerCollapse {
    background-color: var(--mainColor);
}


.categoryHeader {
    background-color: var(--paragraphTitle);
}

.categoryHeader button {
    font-size: 1.4em;
    color: var(--mainColor);
    text-decoration: none;
}

.categoryHeader button:hover {
    color: var(--mainColor);
    text-decoration: none;
}

.raceHeader {
    background-color: var(--paragraphTitle);
}

.line {
    width: 100%;
    background-color: var(--secondaryColor);
}

.leftBox {
    margin: auto;
    min-width: 320px;
    max-width: 320px;
    margin-bottom: 30px;
}

.rightBox {
    margin: auto;
}

.pricesBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pricesBox :nth-child(n) {
    height: 200px;
    width: 40%;
    min-width: 350px;
    background-color: var(--backgroundColor);
    border: none;
    margin: 20px;
}

.pricesBoxLeft :nth-child(n), .pricesBoxRight :nth-child(n) {
    color: var(--mainColor);
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.8rem;
}

.pricesBoxLeft p, .pricesBoxRight p {
    font-weight: bold;
    color: var(--mainColor);
}

.photoBox {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.photoBox :nth-child(n) {
    min-width: 350px;
    height: 250px;
    display: flex;
    margin: 20px;
}

.photoBoxLeft, .photoBoxRight {
    margin-bottom: 20px;
    min-width: 30px;
    -webkit-filter: contrast(105%) brightness(115%) sepia(10%) saturate(90%);
}

.titleAnimals {
    font-family: var(--titleFont);
    background-color: var(--mainColor);
    color: var(--paragraphTitle);
    font-weight: bold;
    font-size: 1.7em;
}

.titlePrices, .titlePhoto, .boxPhoto {
    width: 99%;
    flex-direction: row;
    justify-content: center;
    border: none;
}


.sub {
    background-color: var(--backgroundColor);
    padding: 0.6em;
}

.card-body a {
    font-size: 1.25rem;
    margin: 0em 0 0em 1.1em;
}

.buttonPrice {
    padding: 5% 0 0 4%;
    display: flex;
    justify-content: center;
}


