@import "style_master.css";
@import "style_advice.css";

p {
    font-family: var(--paragraphFont);
    color: var(--paragraphColor);
}

a:focus
{
    outline:0;
}

label {
    color: var(--labelColor);
}

.form-control::placeholder {
    color: var(--placeholderColor);
}

h1 {
    font-family: var(--titleFont);
    font-size: 2.5em;
    font-weight: bold;
}

h4 {
    font-family: var(--titleFont);
    font-size: 1.3em;
    font-weight: bold;
    color: var(--secondaryColor);
}

h3{
    padding: 1em 0 0.5em 0;
}
/* NAVBAR */
.navbar-light .navbar-nav .nav-link{
    color: inherit;
}

.dogLogo {
    width: 200px;
}

.collapse {
    font-size: 1.5em;
    font-family: var(--titleFont);
    color: inherit;
}

.navbar-nav {
    width: 90%;
    display: flex;
    justify-content: space-around;
}

.navContact {
    border: solid 1px var(--mainColor);
    border-radius: 100px;
    background-color: var(--mainColor);
    color: var(--paragraphTitle);
}
.dropdown-item{
    font-size: 20px;
}

.btn_nav{
    margin-top:0.4%;
}

.cta {
    position: relative;
    padding: 13px 22px;
    transition: all 0.2s ease;
    text-decoration: none;
    color: inherit;
}
.cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 28px;
    background: var(--mainColor);
    width: 56px;
    height: 56px;
    transition: all 0.3s ease;
}

.cta:hover{
    color:var(--paragraphTitle);
}

.cta span {
    position: relative;
    font-size: 20px;
    line-height: 18px;
    font-weight: 900;
    letter-spacing: 0.25em;
    vertical-align: middle;
}

.cta:hover:before {
    width: 100%;
    background: var(--secondaryColor);
}

.btn_title:hover {
    color:var(--paragraphTitle);
}
/*fin NAVBAR */

/* Logo Facebook*/
.icon_header {
    position: fixed;
    z-index: 99;
    left: 0;
    top: 20%;
}

.icon_header a {
    font-size: 15.5pt;
    text-align: center;
    transition: all .5s ease-in-out;
    float: right;
    border-radius: 10px 10px 10px 10px;
    background-color: var(--paragraphTitle);
    padding: .5em .5em 0em 1em;
    margin: 5px 0;
    min-width: 160px;
    transform: translateX(-290px);
    box-shadow: 0 0 10px var(--backgroundColorFooter);
}

.icon_header a i {
    float: right;
    padding: 0.3em;
    transition: .5s;
}

.icon_header a:hover {
    transform: translateX(-15px);
}

.icon_header p {
    float: left;
    margin-right: .5em;
}
/* Fin Facebook */

.carousel-inner {
    height: 40vw;
    min-width: auto;
}

.carousel-item img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.dropdown-menu a:link {
    color: var(--backgroundColorFooter);;
}

@media screen and (max-width: 768px) {

    .carousel-inner {
        display: none;
    }
}

h2 {
    font-family: var(--titleFont);
    font-size: 2em;
    font-weight: bold;
    color: var(--mainColor);
}


/* DEBUT style section presentation/Home */
.homePresentation {
    padding: 2% 0 2% 0;
    background: url('../images/wave.png') no-repeat center center fixed;
    background-size: cover;
}

.shadowCard-1 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.who {
    font-family: var(--titleFont);
    background-color: var(--mainColor);
    color: var(--paragraphTitle);
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}

.nadege {
    display: block;
    width: 250px;
    border-radius: 50%;
    border-color: var(--secondaryColor);
    margin: auto;
}

.titlePresentation {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;

}

.paddingCard {
    padding-top: 15px;
}

.seeDetails {
    font-size: 1.1em;
    font-weight: bolder;
    color: var(--secondaryColor);
}

.discover {
    padding-top: 5%;
}

.glyphTools {
    padding-top: 4%;
}

.btn-outline-primary {
    color: var(--mainColor);
    border-color: var(--mainColor);
    border-radius: .25rem;
}

.btn-outline-primary:hover {
    font-family: var(--titleFont);
    color: var(--paragraphTitle);
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

/*FIN style section presentation/Home */

/*----formulaire----*/


label {
    font-family: var(--paragraphFont);
    color: var(--paragraphColor);
}

.contact {
    background-color: var(--backgroundColor);
    background: url('../images/wave_form.png') no-repeat center center fixed;
    background-size: cover;
}

.contact-title {
    text-align: center;
    padding: 1em;
}

.form-home-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-row {
    width: 82.5%;
}

.form-group {
    display : flex;
    flex-direction : column;
    width : 82%;
}


.btn-primary {
    background-color: var(--mainColor);
    border-color: var(--mainColor);
    border-radius: .25rem;
    padding-left: 20px;
    padding-right: 20px;
}

.alert-success {
    text-align: center;
}

.alert:empty, .alert-success {
    display: none;
}

.btn-primary:hover {
    font-family: var(--titleFont);
    color: var(--paragraphTitle);
    background-color: var(--secondaryColor);
    border-color: var(--secondaryColor);
}

.button_submit {
    margin-top: 2%;
    margin-bottom: 10%;
}

/*Css section map and adress*/

.detail-block {
    display: flex;
    background-color: var(--backgroundColor);
    padding-top: 5vw;
}

.coordonnates {
    font-family: var(--titleFont);
    color: var(--mainColor);
    text-align: center;
    margin-bottom: 4vw;
}

.blockCoordonnate {
    justify-content: space-evenly;
    margin-top: 2vw;
    line-height: 3vh;
}

.mapContour {
    display: flow;
    justify-items: center;
    height: 78vh;
    margin-top: 4vw;
}

.bloc_adress {
    align-content: center;
    height: 78vh;
}

address {
    margin-bottom: 0;
}

.adressContour {
    display: flow;
    justify-items: center;
    margin-top: 4vw;
    margin-bottom: 4vw;

}

.bloc_adress p {
    justify-content: space-evenly;
    text-align: center;
    line-height: 2vh;
}


.heightParagraph {
    margin-top: 1.7em;
    justify-content: space-evenly;
    margin-bottom: 1.45em;
}

/*footer*/
.footer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: var(--backgroundColorFooter);
    color: var(--paragraphTitle);
    font-size: 1.25em;
    height: 10vw;
    width: 100vw;
}

.footerPart {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: var(--paragraphTitle);
    background-color: var(--backgroundColorFooter);
}

a:link {
    text-decoration: none;
    color: var(--paragraphTitle);
}

.map {
    width: 100%;
    height: 100%;
    border: 0;
}