.media {
    flex-flow: wrap;
}

.media-body {
    flex-flow: wrap;
    min-width: 350px;
    height: 200px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.imgPartner {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    width: 340px;
    height: 200px;
}

.linkPartner, a:link {
     color: var(--backgroundColorFooter);
}
