.advicePage {
    background: url('../images/wave_advice.png') no-repeat center center fixed;
    background-size: cover;
}

.pictureAlign{
    display: flex;
    align-items: center;
    margin-bottom:2%;
}


.img-fluid{
   object-fit: contain;
}


