:root {
    --titleFont: 'Roboto', sans-serif;
    --paragraphFont: 'Open Sans', sans-serif;
    --mainColor : rgb(252, 91, 76); /* orange */
    --secondaryColor: rgb(246 137 124); /* orange pale*/
    --backgroundColor: rgb(245 249 250); /* gray blue */
}