{% extends 'layout.html.twig' %}

{% block title %}Salon Toilettage Seduction{% endblock %}

{% block content %}
    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/salon.css">
    {% endblock %}

    <h1>Le Salon</h1>

    <h4 class="salon_resume">Graĉe à mon expérience et la passion des animaux, je sais exactement comment m'occuper de
        votre compagnon à
        quatre pattes à la perfection. Ainsi il passera un moment agréable et vous retrouverez un animal magnifique et
        bien dans ses poils après son passage au salon de Toilettage Séduction! </h4>

    <section class="salonPresentation">
        <div class="container-fluid">

            <div class="row justify-content-wrap firstLine">
                <div class="col-lg-4 offset-lg-1">
                    <div class="card border shadowCard-1">
                        <div class="card-body">
                            <img src="/assets/images/salon_image4.jpg" alt="salon_image1"
                                 class="salon-picture img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 firstText">
                    <p class="text-justify">Une grande baie vitrée permet aux animaux de ne pas se sentir enfermés et de
                        regarder mes oiseaux et mes volailles dans la cour. Une fenêtre grillagée permet, si nécessaire
                        d'aérer le salon de toilettage sans craindre la fuite d'un chat accueilli. Je me réserve le
                        droit de refuser de toiletter un animal si je ne le trouve pas apte au toilettage (animal malade
                        par exemple), de même que des toilettages inattendus peuvent être envisagés (lapin, cobaye,
                        ...). Je peux les restyliser pour qu'ils soient plus beaux : sculpture de la
                        culotte arrière, égalisation des franges. Mon séchoir pulseur va enlever tous les poils morts et
                        vous serez tranquille avec la perte de poils pendant un petit moment. Les chiens de chasse sont
                        aussi les bienvenus au salon : avant ou après une saison de chasse, un bon toilettage est
                        souverain et permet de vérifier le bon état de santé de la peau sous la fourrure.
                    </p>
                </div>
            </div>

            <div class="row secondaryLine">
                <div class="col-lg-6 offset-lg-1 secondaryText">
                    <p class="text-justify">Les vieux animaux et les animaux cardiaques sont pris en priorité le matin ,
                        et peuvent faire l'objet si nécessaire d'une séance en deux temps sans augmentation de
                        tarification. En contrepartie, je signalerai tout ce qui paraît être suspect ou inadéquat :
                        problème bénin ou nécessitant la visite chez un vétérinaire. Je donne des conseils gratuits pour
                        mieux entretenir ou éduquer votre animal. Il faut impérativement traiter vos animaux contre les
                        puces avant le toilettage, les autres animaux n'ont pas à récupérer les puces .
                    </p>
                </div>
                <div class="col-lg-4 order-first order-lg-last">
                    <div class="card border shadowCard-1">
                        <div class="card-body">
                            <img src="/assets/images/salon_image5.jpg" alt="salon_image2"
                                 class="services-picture img-fluid">
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="d-none d-md-block totalBox row">
            <div class="row__inner">

                <div class="tile">
                    <div class="tile__media">
                        <img class="tile__img" src="/assets/images/salon_image1.jpg" alt=""  />
                    </div>
                </div>
                <div class="tile">
                    <div class="tile__media">
                        <img class="tile__img" src="/assets/images/salon_image2.jpg" alt=""  />
                    </div>
                </div>
                <div class="tile">
                    <div class="tile__media">
                        <img class="tile__img" src="/assets/images/salon_image3.jpg" alt=""  />
                    </div>
                </div>
                <div class="tile">
                    <div class="tile__media">
                        <img class="tile__img" src="/assets/images/salon_image6.jpg" alt=""  />
                    </div>
                </div>


            </div>
        </div>

    </section>
{% endblock %}
