{% extends 'layout.html.twig' %}

{% block title %}Toilettage Seduction{% endblock %}

{% block content %}
    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/service.css">
    {% endblock %}

    <h2>Services</h2>

    <section class="servicePresentation">
        <div class="container-fluid">
            <div class="row justify-content-wrap">
                <div class="col-lg-3 offset-lg-1">
                    <div class="card border shadowCard-1">
                        <div class="card-body text-secondary ">
                            <img src="/assets/images/service-image01.jpg" alt="service-picture01"
                                 class="services-picture img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <p class="text-justify">Lors du toilettage, les chiens et les chats sont massés pendant la pose du
                        shampoing,
                        les ongles sont coupés, les oreilles épilées, les glandes anales vidées si besoin, sans
                        supplément de tarification,
                        je privilégie le toilettage familial, le toilettage avec de la confiance et de la communication.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6 offset-lg-1">
                    <p class="text-justify">Depuis plus de 19 ans, je travaille avec une douceur ferme qui permet aux
                        chiens les plus "difficiles" d'être tout mignons,
                        et aux plus craintifs d'être en confiance. Il n'y a pas dans mon salon de toilettage de chien en
                        attente ou en cage séchante :
                        je reste perpétuellement en contact avec lui pour le mettre en confiance - le chien étant un
                        animal de meute ,
                        il est "perdu" quand il n'a pas son maître ou qu'il n'est pas dans ses repères, aussi une
                        attente inutile ne fait que renforcer son éventuelle anxiété.
                        C'est pourquoi dès que son toilettage est fini, je vous demande de revenir le chercher.
                        Si vous avez plusieurs chiens, vous pouvez les amener en même temps au toilettage : ils seront
                        ravis et rassurés de rester avec leurs copains.
                    </p>
                </div>
                <div class="col-lg-3 offset-lg-1 order-first order-lg-last">
                    <div class="card border shadowCard-1">
                        <div class="card-body text-secondary">
                            <img src="/assets/images/service-image02.jpg" alt="service-picture02"
                                 class="services-picture img-fluid">
                        </div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-wrap">
                <div class="col-lg-3 offset-lg-1">
                    <div class="card border shadowCard-1">
                        <div class="card-body text-secondary">
                            <img src="/assets/images/service-image03.jpg" alt="service-picture03"
                                 class="services-picture img-fluid">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 offset-lg-1">
                    <p class="text-justify">La séquence toilettage se déroule suivant le même principe pour tous les
                        chiens (cette séquence peut varier suivant les toiletteurs)
                        car mon petit client à 4 pattes a besoin de repères : prise de contact (qui sera plus longue la
                        première fois ou pour des animaux "difficiles",
                        préparation (démêlage, pré-tonte par exemple), bain et séchage, et enfin les finitions : coupe
                        ciseaux , tonte. Les ongles sont coupés,
                        les oreilles sont épilées et s'il y a besoin les glandes anales sont vidées pendant le bain.
                        Pour les épilations, je travaille de façon traditionnelle.
                    </p>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
