{% extends 'layoutAdmin.html.twig' %}

{% block title %}Toilettage Seduction{% endblock %}

{% block content %}

    {% block stylesheet %}
        <link rel="stylesheet" href="/assets/css/style_race.css">
    {% endblock %}
    <section class="race_admin">
        <h1>Liste des races</h1>
        <div class="row">
            <div class="col-lg-3">

            <ul class="list">
                {% for race in races %}
                    <li><a href="/race/edit/{{ race.id }}">{{ race.name }}</a></li>
                {% else %}
                    <li>Rien à afficher</li>
                {% endfor %}
            </ul>
            </div>
        </div>
        <div class="row">
            <ul class="list">
                <a href="/race/add">
                    <button class="btn btn-primary">Ajouter</button>
                </a>
            </ul>
        </div>
    </section>
{% endblock %}
